<header class="header">
    <h1><span class="keyword">class</span> <a href="<%= @settings.url %>/blog" title="Блог">Blog</a> <span class="keyword">&lt;</span> <a href="<%= @settings.url %>" title="Главная">Homepage</a></h1>
</header>
<section class="main">
<% @posts.each do |post| %>
    <article>
        <header>
            <h2><a href="<%= @settings.url %>/blog/<%= post.slug %>"><%= post.title %></a></h2>
        </header>
        <p class="small">
            <a href="#" rel="tag" title="Посмотреть все посты с этим тегом">Zend Framework</a>,
            <a href="#" rel="tag" title="Посмотреть все посты с этим тегом">WebDev</a>
        </p>
        <%= cut(post.content) %>
        <p class="small">
            <span class="left"><%= Russian::strftime(post.created_at, "%d %B %Y года") %></span>
            <span class="right"><a href="<%= @settings.url %>/blog/<%= post.slug %>#comments" title="Посмотреть комментарии к этому посту"><%= post.comments.count.to_s + ' ' + Russian.p(post.comments.count, 'комментарий', 'комментария', 'комментариев') %></a></span>
        </p>
        <div class="clear"></div>
    </article>
<% end %>
    <div class="pagination">
        <% if @pager['prev_page'] >= 1 %>
            <span>&larr; <a href="<%= @settings.url %>/blog/page/<%= @pager['prev_page'] %>">Новые посты</a></span>
        <% end %>
        <% if @pager['next_page'] <= @pager['total'] %>
            <span><a href="<%= @settings.url %>/blog/page/<%= @pager['next_page'] %>">Старые посты</a> &rarr;</span>
        <% end %>
    </div>
</section>
