<header class="header">
    <h1><span class="keyword">class</span> <a href="<%= @settings.url %>/blog" title="Блог">Blog</a> <span class="keyword">&lt;</span> <a href="<%= @settings.url %>" title="Главная">Homepage</a></h1>
</header>
<section class="main">
    <article>
        <header>
            <h2><%= @post.title %></h2>
        </header>
        <p class="small">
            <a href="#" rel="tag" title="Посмотреть все посты с этим тегом">Zend Framework</a>,
            <a href="#" rel="tag" title="Посмотреть все посты с этим тегом">WebDev</a>
        </p>
        <%= remove_cut_tag(@post.content) %>
        <p class="small"><%= Russian::strftime(@post.created_at, "%d %B %Y года") %></p>
    </article>
</section> <!-- .main -->
<section id="comments">
    <header>
        <h3>Комментарии <sup><a href="#" title="Получать комментарии по RSS">RSS</a></sup></h3>
    </header>
<% if @post.comments.empty? %>
    <article>
        <p>Комментариев нет</p>
    </article>
<% else %>
    <% i = 0; @post.comments.each do |comment|; i += 1 %>
        <article id="comment-<%= comment.id %>">
            <header class="vcard">
            <% if comment.url.empty? %>
                <h4><a href="#comment-<%= comment.id %>" title="Постоянная ссылка на комментарий">#<%= i %></a> <span class="fn"><%= comment.author %></span></h4>
            <% else %>
                <h4><a href="#comment-<%= comment.id %>" title="Постоянная ссылка на комментарий">#<%= i %></a> <span class="fn"><a href="<%= comment.url %>" class="url"><%= comment.author %></a></span></h4>
            <% end %>
            </header>
            <img src="<%= gravatar(comment.email) %>" class="gravatar" alt="<%= comment.author %>" title="<%= comment.author %>" />
            <p><%= comment.content %></p>
            <p class="small">
                <span class="left"><%= Russian::strftime(comment.created_at, "%d %B %Y года, в %H:%M") %></span>
                <span class="right"><a href="#" onclick="reply('[reply#comment-<%= comment.id %>]<%= comment.author %>[/reply]');return false;" class="ajax">Ответить</a></span>
            </p>
            <div class="clear"></div>
        </article>
    <% end %>
<% end %>
</section> <!-- #comments -->
<section id="comment-form">
    <header>
        <h3>Оставить комментарий</h3>
    </header>
    <form action="#" method="post">
        <div><textarea name="comment[content]" id="comment-content" placeholder="Комментарий *" required></textarea></div>
        <div>
            <input type="text" name="comment[name]" placeholder="Представьтесь *" required />
            <input type="email" name="comment[email]" placeholder="Email *" required />
            <input type="url" name="comment[url]" placeholder="Блог" />
        </div>
        <div>
            <input type="checkbox" name="subscribe" id="subscribe" value="1" checked />
            <label for="subscribe">Получать уведомления о новых комментариях</label>
        </div>
        <div>
            <input type="submit" name="add" value="Добавить комментарий" />
            или
            <input type="submit" name="preview" value="посмотреть, что получится" />
        </div>
    </form>
</section> <!-- #comment-form -->
