<header class="header">
    <h1><span class="keyword">class</span> <a href="<%= @settings.url %>/blog" title="Блог">Blog</a> <span class="keyword">&lt;</span> <a href="<%= @settings.url %>" title="Главная">Homepage</a></h1>
</header>
<section class="main">
    <article>
        <header>
            <h2><%= @post.title %></h2>
        </header>
        <p class="small">
        <% @post.tags.each do |tag| %>
            <a href="<%= @settings.url %>/blog/tag/<%= tag.slug %>" rel="tag" title="Посмотреть все посты с этим тегом"><%= tag.tag %></a>
        <% end %>
        </p>
        <%= remove_cut_tag(@post.content) %>
        <p class="small"><%= Russian::strftime(@post.created_at, "%d %B %Y года") %></p>
    </article>
</section> <!-- .main -->
<section id="comments">
    <header>
        <h3>Комментарии <sup><a href="#" title="Получать комментарии по RSS">RSS</a></sup></h3>
    </header>
<% if @post.comments.empty? %>
    <article>
        <p>Комментариев нет</p>
    </article>
<% else %>
    <% i = 0; @post.comments.approved.each do |comment|; i += 1 %>
        <article id="comment-<%= comment.id %>">
            <header class="vcard">
            <% if comment.url.empty? %>
                <h4><a href="#comment-<%= comment.id %>" title="Постоянная ссылка на комментарий">#<%= i %></a> <span class="fn"><%= comment.author %></span></h4>
            <% else %>
                <h4><a href="#comment-<%= comment.id %>" title="Постоянная ссылка на комментарий">#<%= i %></a> <span class="fn"><a href="<%= comment.url %>" class="url"><%= comment.author %></a></span></h4>
            <% end %>
            </header>
            <img src="<%= gravatar_for comment.email %>" class="gravatar" alt="<%= comment.author %>" title="<%= comment.author %>" />
            <%= RedCloth.new(comment.content, [:filter_html]).to_html.gsub(/\[reply#(.+?)\](.+?)\[\/reply\]/, "@<a href=\"#\\1\" class=\"reply\" title=\"Перейти к комментарию\">\\2</a>") %>
            <p class="small">
                <span class="left"><%= Russian::strftime(comment.created_at, "%d %B %Y года, в %H:%M") %></span>
                <span class="right"><a href="#" onclick="reply('[reply#comment-<%= comment.id %>]<%= comment.author %>[/reply]');return false;" class="ajax">Ответить</a></span>
            </p>
            <div class="clear"></div>
        </article>
    <% end %>
<% end %>
</section> <!-- #comments -->
<section id="comment-form">
    <header>
        <h3>Оставить комментарий (<a href="http://ru.wikipedia.org/wiki/Textile_(язык_разметки)" title="Простой и удобный язык разметки">Textile</a>)</h3>
    </header>
    <div class="errors">
        <% if @errors %>
            <p>Необходимо исправить следующие ошибки:</p>
            <ul>
                <%= @errors %>
            </ul>
        <% end %>
    </div>
    <form action="<%= @settings.url %>/blog/<%= @post.slug %>/#comment-form" method="post">
        <div><textarea name="comment[content]" id="comment-content" placeholder="Комментарий *" required><% if @comment %><%= @comment %><% end %></textarea></div>
        <div>
            <input type="text" name="comment[author]" id="comment-author" placeholder="Представьтесь *" value="<%= @cookies['homepage_comment_author'] %>" required />
            <input type="email" name="comment[email]" id="comment-email" placeholder="Email *" value="<%= @cookies['homepage_comment_email'] %>" required />
            <input type="url" name="comment[url]" placeholder="Блог" value="<%= @cookies['homepage_comment_url'] %>" />
        </div>
        <div>
            <input type="checkbox" name="subscribe" id="subscribe" value="1" checked />
            <label for="subscribe">Получать уведомления о новых комментариях</label>
        </div>
        <div>
            <input type="submit" id="add-comment" value="Добавить комментарий" />
        </div>
    </form>
</section> <!-- #comment-form -->
