<header class="header">
    <h1><span class="keyword">class</span> <a href="<%= @settings.url %>" title="Главная">Homepage</a></h1>
</header>
<section class="main">
    <article>
        <header>
            <h2>Юзаю</h2>
        </header>
        <ul class="logos">
            <li><img src="<%= @settings.url %>/img/logo/ubuntu.png" alt="Ubuntu" title="Ubuntu" /></li>
            <li><img src="<%= @settings.url %>/img/logo/apache.png" alt="Apache" title="Apache" /></li>
            <li><img src="<%= @settings.url %>/img/logo/php.png" alt="PHP" title="PHP" /></li>
            <li><img src="<%= @settings.url %>/img/logo/ruby.png" alt="Ruby" title="Ruby" /></li>
            <li><img src="<%= @settings.url %>/img/logo/mysql.png" alt="MySQL" title="MySQL" /></li>
            <li><img src="<%= @settings.url %>/img/logo/git.png" alt="Git" title="Git" /></li>
            <li><img src="<%= @settings.url %>/img/logo/geany.png" alt="Geany" title="Geany" /></li>
            <li><img src="<%= @settings.url %>/img/logo/opera.png" alt="Opera" title="Opera" /></li>
        </ul>
        <div class="clear"></div>
    </article>
</section>
